/* body {
    border: #0f0202;
    background-color: #fcfdfc;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif;
    
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(37, 232, 76);
    border: #0f0202;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(153, 35, 236);
    border: #0f0202;
}

h3{
    font-family: "Bubblegum Sans";
    text-align: center;
}

p{
    font-family: "Comic Sans";
    text-align: left;
    background-color: rgb(48, 237, 237);
    font-size: 25px; */
/* }  */

/* #any-element {
    display: block;
  }
  
  #another-element {
    display: inline;
  }
  
  #yet-another-element {
    display: inline-block;
  }
   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(7, 6, 6);
}

h1 {
    margin: 1rem;
    font-family: fantasy;
    color: deeppink;
    text-align: center;
}

p {
    margin: 2em;
    font-family: cursive;
    font-size: x-large;
    text-align: center;
    color:hotpink
}

body {
    margin: 1em;
    color: plum;
    border-block-start-color: grey;
}

a {
    margin: 0em;

}